---
import { getCollection } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";
import { getVisiblePosts, toSlugPart } from "../../components/blog-utils";

const posts = getVisiblePosts(await getCollection("blog"));
const categoryMap = new Map<string, number>();
for (const post of posts) {
  categoryMap.set(post.data.category, (categoryMap.get(post.data.category) ?? 0) + 1);
}
---

<MainLayout title="카테고리 목록 | Moonlog" description="카테고리별 글 모아보기">
  <h1>카테고리</h1>
  <div class="chips">
    {[...categoryMap.entries()].map(([category, count]) => <a class="chip" href={`/categories/${toSlugPart(category)}`}>{category} ({count})</a>)}
  </div>
</MainLayout>
